body {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  background: #000;
}
#characters{
  font-size: 15px;
}
h1 {
  font-size: 30px;
  color: #DCBE9E;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #DCBE9E;
}
#container {

  background: #9E0913;
  background: url(../WCGameCSS/snow-bg-resize-light.png);
  /* background: -moz-linear-gradient(top,  #9d0913 0%, #146B3A 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,##9d0913), color-stop(100%,#146B3A));
  background: -webkit-linear-gradient(top,  #9d0913 0%,#146B3A 100%);
  background: -o-linear-gradient(top,  #9d0913 0%,#146B3A 100%);
  background: -ms-linear-gradient(top,  #9d0913 0%,#146B3A 100%);
  background: linear-gradient(top,  #9d0913 0%,#146B3A 100%); */


  /* background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));
  background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
  background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
  background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
  background: linear-gradient(top,  #a7cfdf 0%,#23538a 100%); */
  outline: 0;
}
#intro h1 span {
  text-indent: -300px;
  background: url(../images/car.png) no-repeat center 20px;
  height: 100px;
  display: block;
  color: #DCBE9E;
}
#gameover h1{
  background: url(../WCGameCSS/christmas-tree.png) no-repeat center 20px;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #DCBE9E;
}


#intro ul, #intro p, #gameover p {
  width: 80%;
  margin: 10px auto;
}
#intro p {
  font-size: 16px;
  margin: 20px auto;
  text-align: center;
  color: #DCBE9E;
}
#intro h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #DCBE9E;
}
#intro button, #gameover button, #characters button {
  display: block;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  margin: 20px 0;
  font-size: 20px;
  line-height: 30px;
  border: none;


  background: #263018;
  color: #DCBE9E;
  /* background: -moz-linear-gradient(top,  #263018 0%, #EA4630 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,##263018), color-stop(100%,#EA4630));
  background: -webkit-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: -o-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: -ms-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: linear-gradient(top,  #263018 0%,#EA4630 100%); */
  /* box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-radius: 5px; */


}
#intro button:hover, #intro button:focus, #gameover button:hover, #gameover button:focus {
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.7);
}
#player {
  display: block;
  margin: 1px auto;
}
.right, .left {
  z-index: 10;
  line-height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  font-size: 25px;

  background: #263018;
  background: -moz-linear-gradient(top,  #263018 0%, #EA4630 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,##263018), color-stop(100%,#EA4630));
  background: -webkit-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: -o-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: -ms-linear-gradient(top,  #263018 0%,#EA4630 100%);
  background: linear-gradient(top,  #263018 0%,#EA4630 100%);



}
p.lights-promo{
  color: #DCBE9E;
}
p.christmas-promo {
  color: #DCBE9E;
}
p.items-caught{
  color: #DCBE9E;
}
p.your-score{
  color: #DCBE9E;
}
li.last-score{
  color: #DCBE9E;
}
li.high-score{
  color: #DCBE9E;
}
p.intro-text{
  color: #DCBE9E;
}
p.message{
  color: #DCBE9E;
}
