

<!DOCTYPE html>

{% extends 'portfolio/base.html' %}

{% block name %}Home{% endblock %}

{% block content %}


<section class = "tech-skills">
  {% load static %}
  <h1>Technologies</h1>
  <div class="Technologies">
    <img src="{% static 'portfolio/images/html5-logo.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/css3-logo.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/js-logo.svg' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/mongodb.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/python-logo.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/node-js-logo.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/django.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/c-plus.png' %}" class="tech-icons">
    <img src="{% static 'portfolio/images/sql.png' %}" class="tech-icons">
  </div>
</section>

{% endblock %}
